body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #797A9E;
}

.boardContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.gameBoard {
    display: grid;
    grid-template-columns: 3;
    grid-template-rows: 3;
}

.cell {
    height: 125px;
    width: 125px;
    border: 1px solid #a9a9a9;
}

.cellX {
    height: 125px;
    width: 125px;
    border: 1px solid #a9a9a9;
    background-image: url(x100.png);;
}
.cellO {
    height: 125px;
    width: 125px;
    border: 1px solid #a9a9a9;
    background-image: url(o100.png);;
}

#cell1 {
    grid-row-start: 1;
    grid-column-start: 1;
}
#cell2 {
    grid-row-start: 1;
    grid-column-start: 2;
}
#cell3 {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-start: 3;
}

.headerContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 0px 0px #72727E;
    background-color: #BBBDF6;
}

.header {
    font-size: 5rem;
    font-family: "Sansita", Arial, Helvetica, sans-serif;
    font-weight: bolder;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #797A9E;
    
}

@font-face {
    font-family: "Sansita";
    src: url(SansitaOne.ttf);
  }

  @font-face {
    font-family: "RockoFLF";
    src: url(RockoFLF.ttf);
  }

  #turn {
    padding-top: 35px;
    padding-bottom: 35px;
    font-size: 3rem;
    font-family: 'RockoFLF', 'Times New Roman', Times, serif;
  }

  .btnContainer {
    display: flex;
    padding-top: 35px;
  }

  #restartBtn {
    font-size: 2.5rem;
    padding: 12px;
    background-color: #BBBDF6;
    border: 2px solid #625F63;
    border-radius: 10px;
    font-family: 'RockoFLF', 'Times New Roman', Times, serif;
  }

  #restartBtn:hover {
   background-color: #A5A7F3;
  }
